.font-poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* nav section */
nav{
    display: flex;
   margin-bottom: 50px;
}
nav h3{
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 120px;
    margin-top: 87px;
}
.menu-list{
    display: flex;
    list-style-type: none;
    gap: 34px;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 857px;
    margin-top: 95px;
}
.menu-list img{
    height: 24px;
    width: 24px;
}

/* banner section */
.banner-container{
    display: flex;
}
.banner-content h1{
     font-weight: bold;
     font-size: 3.25rem;
     line-height: 70px;
     color: #3A3A3A;
     margin-bottom: 16px;
}
.banner-content p{
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
    width: 505px;
}
.button-content button{
    display: flex;
    width: 196px;
    border: 0;
   background-color: #E02C6D;
   border-radius: 41px;
}
.button-content button img{
    height: 24px;
    width: 24px;
   padding: 15px;
}